<script type="text/javascript">
  $(document).ready(function() {
  /* Activating Best In Place */
  jQuery(".best_in_place").best_in_place();
});
</script>
<div id="login_main">
  <% unless @jobs.blank? %>
    <h1>Incompleted Jobs - Batch
      <%= @jobs[0].batch.batchid %>
      (Batch Date: <%= format_date(@jobs[0].batch.date) %>,
      Client: <%= @jobs[0].batch.facility.client.name %>)</h1>

  <% else %>
    <h1> </h1>

  <% end %>



  <% unless @jobs.blank? %>

    <%= form_tag :action => 'allocate_deallocate', :id => @jobs_to_allocate ,:page=> params[:page] ,:back_page => params[:back_page] do %>

      <table>
        <tr>
          <th>Batch ID</th>
          <th>Image <br/>Name </th>

          <th>Processor ID</th>
          <th>Processor Comments</th>
          <th>QA ID</th>
          <th>QA Comments</th>
          <th>Job Status</th>




        </tr>
        <%@jobs.each do |job| %>
          <% cls='white'%>

          <tr>
            <td class="<%= cls %>" align='right'><%= job.batch.batchid %></td>
            <td class="<%= cls %>"align = 'right'><%= job.tiff_number %></td>

            <%
            if job.qa_id.blank?
              qaid = "-"
            else
              qaid=Remittor.find_by_id(job.qa_id).login
            end
          %>
            <%
            procid = Remittor.find_by_id(job.processor_id).login
          %>
            <td class="<%= cls %>"><%= procid %></td>
            <td class="<%= cls %>">
              <span id="edit_field_<%= job.id%>">

                
              </span>
            <%= best_in_place job,:processor_comments,:type =>:textarea,:ok_button => "Ok",:cancel_button => "Cancel", :nil => "no comments", :path => url_for(:controller=>:job,:action => :set_job_processor_comment, :id => job.id) %>
            </td>
            <td class="<%= cls %>"><%= qaid %></td>
            <td class="<%= cls %>"><%if !job.qa_comment.blank? %>
                <%=job.qa_comment%>
              <% else %>
                                                   no comments
              <% end %></td>
            <td class="<%= cls %>"><%= job.job_status %></td>
            <%if job.batch.batchid.upcase.include?("UB04")%>
              <td class="<%= cls %>"><%= link_to 'Redo',:controller => '/datacaptures', :action => 'rejected_claim_ub04', :jobid => job.id, :batchid => job.batch.id, :payerid => job.payer.id, :batch_type => job.batch.batchid %></td>
            <%else%>
              <td class="<%= cls %>"><%= link_to 'Redo',:controller => '/datacaptures', :action => 'rejected_claim', :jobid => job.id, :batch_type => job.batch.batchid %></td>
            <%end%> </tr>
        <% end %>
      </table>

    <% end %>
  <% else %>
    NO INCOMPLTE JOBS
  <% end %>
  <br/>
  <br/>

  <br/>
  <br/>
</div>
