<div id="login_main">
<h1>Listing EOB Errors</h1>
<div class="light_info">
  <%= link_to 'New EOB Error', :action => 'new' %>
</div>
<% pagination = create_pagination(@eob_error_pages,'eob_error',params[:page]) %>
<%= pagination %>
<table  style="width: 938px">
  <tr>
  <% for column in EobError.content_columns %>
    <th><%= column.human_name %></th>

  <% end %>
  <th style="width: 100px"> &nbsp;</th>
  </tr>

<% for eob_error in @eob_errors %>
  <tr>
  <% for column in EobError.content_columns %>
    <td><%=h eob_error.send(column.name) %></td>
  <% end %>
    <td><%= link_to image_tag("report_edit.png", :alt => "Edit"), :action => 'edit', :id => eob_error %></td>
  </tr>
<% end %>
</table>
<%= pagination %>
<br />
</div>
