<h1>Listing payers</h1>



<% if @payer_pages.current.previous %>
    <%= link_to 'Prev', { :page => @payer_pages.current.previous } %>
  <% end %>

  <% if @payer_pages.length > 1 %>
    <% @payer_pages.each do |page|%>
      <% params[:controller] = 'qa' %>
      <%= link_to_unless(params[:page].to_i == page.number, page.number, {:params => params.merge('page' => page )})%>
    <% end %>
  <% end %>

  <% if @payer_pages.current.next %>
    <%= link_to 'Next', { :page => @payer_pages.current.next } %>
  <% end %>

<% unless @payers.empty? %>
 <% form_tag :action => 'delete_payers', :id => @payers_to_delete do %>
 
<table class="sortable" id="payer_admin">
  <tr>
		<!-- <th>Date Added</th>
		<th>Initials</th>
		<th>From</th> -->
		
		<th>Gateway</th>
		<th>Payer ID</th>
		<th>Payer</th>
		
		<th>GR Name</th>
		
		<th>Address One</th>
		<th>Address Two</th>
		<th>Address Three</th>
		<th>Address Four</th>
	<!--	<th>Phone</th> -->
<% for payer in @payers %>
  <tr>
		
		<td><%= payer.gateway %></td>
		<td><%= payer.payid %></td>
		<td><%= payer.payer %></td>
		
		<td><%= payer.gr_name %></td>
		
		<td><%= payer.pay_address_one %></td>
		<td><%= payer.pay_address_two %></td>
		<td><%= payer.pay_address_three %></td>
		<td><%= payer.pay_address_four%></td>
		
    
  </tr>
<% end %>
</table>

<% if @payer_pages.current.previous %>
    <%= link_to 'Prev', { :page => @payer_pages.current.previous } %>
  <% end %>

  <% if @payer_pages.length > 1 %>
    <% @payer_pages.each do |page|%>
      <% params[:controller] = 'qa' %>
      <%= link_to_unless(params[:page].to_i == page.number, page.number, {:params => params.merge('page' => page )})%>
    <% end %>
  <% end %>

  <% if @payer_pages.current.next %>
    <%= link_to 'Next', { :page => @payer_pages.current.next } %>
  <% end %>


	
<% else %>
  <h4> No Payers found. Click 'New Payer' to create one. </h4>
<% end %>




