<div id="login_main">
  <% if @user.roles.first.name == 'Supervisor' or @user.roles.first.name == 'Admin' %>
    <h1>Allocate QA for <%= @selected_user.name %>'s Jobs</h1>
  <% else %>
    <h1>Jobs for <%= @selected_user.name %></h1>
  <% end %>

  <%= legend_start %>
  <%= legend "color" => "white", "text" => "New"%>
  <%= legend "color" => "blue", "text" => "Processing"%>
  <%= legend "color" => "green", "text" => "Complete"%>
  <%= legend "color" => "darkgreen", "text" => "Batch Complete"%>
  <%= legend "color" => "red", "text" => "Rejected"%>
  <%= legend_end %>

  <% if @user.roles.first.name == 'supervisor' or @user.roles.first.name == 'admin' %>
    <%# pagination = create_pagination(@jobs, 'job', params[:page]) %>
    <%= will_paginate @jobs %>

    <% unless @jobs.blank? %>

      <%= form_tag :controller => 'job', :action => 'allocate_deallocate', :id => @jobs_to_allocate ,:page=>params[:page] ,:back_page => params[:back_page], :from => 'user', :jobs_of_user => @user.id do %>

        <table>
          <tr>
            <th>Batch ID</th>
            <th>Check <br/>Number </th>
            <th>Tiff <br/>Number </th>
            <th>EOBs<br/><font size='1'>Est./Completed</font></th>
            <th>Processor</th>
            <th>Processors <br/> Status</th>
            <th>QA </th>
            <th>QAs <br/>status</th>
            <th>Job Status</th>
            <th>Payer</th>
            <th>Comment</th>
            <% if @user.roles.first.name == 'Supervisor' or @user.roles.first.name == 'Admin' %>
              <th><input type="checkbox" name="all" onClick="checkAll(document.forms[0].toggle,this)"/></th>
            <% end %>
          </tr>

          <%@jobs.each do |job| %>
            <%cls=''%>
            <%if job.job_status =~ /Rejected/
              cls = 'red'
            elsif job.job_status =~ /Processing/
              cls = 'blue'
            elsif job.job_status =~ /Complete/ and job.batch.status =~ /Complete/
              cls = 'darkgreen'
            elsif job.job_status =~ /Complete/
              cls = 'green'
            else
              cls = 'white'
            end
          %>
            <tr>
              <% if @user.roles.first.name == 'Supervisor' or @user.roles.first.name == 'Admin' %>
                <td class="<%= cls %>" align='right'><strong><%= link_to "#{job.batch.batchid}", :controller => 'job', :action => 'allocate', :id => job.batch %></strong></td>
              <% else %>
                <td class="<%= cls %>" align='right'><strong><%= job.batch.batchid %></strong></td>
              <% end %>
              <td class="<%= cls %>"><%= job.check_number %></td>
              <td class="<%= cls %>"><%= job.tiff_number %></td>
              <td class="<%= cls %>" align='right'><%= job.estimated_eob %> / <%= job.count %></td>
              <td class="<%= cls %>">
                <% if job.processor %>
                  <%= link_to job.processor.name, :controller => '/admin/user', :action => 'show', :id => job.processor,:back_page=>params[:back_page]%>
                <% end %>
              </td>
              <td class="<%= cls %>"><%= job.processor_status %>
              </td>
              <td class="<%= cls %>">
                <% if job.qa %>
                  <%= link_to job.qa.name, :controller => '/admin/user', :action => 'show', :id => job.qa ,:back_page=>params[:back_page]%>
                <% end %>
              </td>
              <td class="<%= cls %>"><%= job.qa_status %></td>
              <td class="<%= cls %>"><%= job.job_status %></td>
              <td class="<%= cls %>">
                <% if job.payer.nil? %>
                  No Payer
                <% else %>
                  <% if @user.roles.first.name == 'Supervisor' or @user.roles.first.name == 'Admin' %>
                    <strong><%= link_to "#{job.payer.payer}", :action => 'allocate_payer_jobs', :payer => job.payer %></strong>
                  <% else %>
                    <strong><%= job.payer.payer %></strong>
                  <% end %>
                <% end %>
              </td>
              <td><textarea readonly='true' cols="20" rows="2" class="black_text"><%= job.comment %></textarea></td>
              <% if @user.roles.first.name == 'Supervisor' or @user.roles.first.name == 'Admin' %>
                <td><%= check_box :jobs_to_allocate, job.id, :id => 'toggle' %></td>
              <% end %>
            </tr>
          <% end %>
        </table>
        <% if @user.roles.first.name == 'Supervisor' or @user.roles.first.name == 'Admin' %>
          <%= submit_tag "Allocate QA", :class => 'button', :name => "option1" %>
          <%= submit_tag "Deallocate QA", :class => 'button', :name => "option1" %>
        <% end  %>
      <% end %>
    <% else %>
      <h4> No Jobs Found! </h4>
    <% end %>
  </div>

  <br/>
  <%= will_paginate @jobs %>
<% end %>
<br/>
<% if @user.roles.first.name == 'Supervisor' or @user.roles.first.name == 'Admin' %>
  <%= link_to image_tag("arrow_undo.png", :alt => "Back"),:page => params[:page],:controller => '/admin/user', :action => 'list_processor_occupancy' %>
<% else %>
  <%= link_to image_tag("arrow_undo.png", :alt => "Back"),:page => params[:page],:controller => '/admin/user', :action => 'list_members' %>
<% end %>

