<div id="login_main">
<h1>Listing payers</h1>

<% if @payers.size > 0 %>
  <div class="light_info">
    <% form_tag :action => 'select_payer' do %>
        <%= select_tag 'criteria', optionize('Gateway', 'Payer Id', 'Payer', 'Address-1','Address-2','Address-3','Address-4') %>
        <%= select_tag 'compare', optionize('=','>=', '<=')%>
        <%= text_field_tag 'to_find', nil, :size => '10' %>
        <%= submit_tag 'Filter', :class => 'button' %>
    <% end %>
  </div>
<% end %>

<% unless @payers.empty? %>
   <% pagination = create_pagination(@payer_pages,'pop_up',params[:page]) %>
   <%= pagination %>
  <table>
  <tr>
    <th>Select</th>
    <th>Gateway</th>
    <th>Payer ID</th>
    <th>Payer</th>
    <th>GR Name</th>
    <th>Address One</th>
    <th>Address Two</th>
    <th>Address Three</th>
    <th>Address Four</th>
    <% for payer in @payers %>
      <tr>
      <td><%= link_to 'Select',:controller => 'pop_up', :action => 'add_message', :payer => payer,:id => payer.id,:payer_name =>payer.payer  %></td>
      <!--    <td><%= link_to 'Select',:controller => 'pop_up', :action => 'add_message', :payer => payer,:id => payer.id  %></td> -->
      <td><%= payer.gateway %></td>
      <td><%= payer.payid %></td>
      <td><%= payer.payer %></td>
      <td>
        <%if  payer.gr_name.blank?%>
                  <%='-'%>
        <%else%>
                         <%=payer.gr_name%>
        <%end%>
      </td>
  
      <td>
        <%if payer.pay_address_one.blank? %>
                            <%='-'%>
                       <%else%>
                          <%=payer.pay_address_one%>
                       <%end%>

      </td>
      <td>
        <%if payer.pay_address_two.blank? %>
                   <%='-'%>
              <%else%>
                    <%=payer.pay_address_two%>
              <%end%>
      </td>
      <td><%if payer.pay_address_three.blank? %>
          <%='-'%>
     <%else%>
           <%=payer.pay_address_three%>
     <%end%>
      </td>
      <td>
        <%if payer.pay_address_four.blank? %>
                    <%='-'%>
          <%else%>
                     <%=payer.pay_address_four%>
         <%end%>
      </td>
    </tr>
  <% end %>
  </table>

  <br/>
<% else %>
  <h4> No Payers found.</h4>
<% end %>
</div>
